h1 {
    font-size: 5vw;
}

h2 {
    font-size: 2rem;
}

.slider-img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
}

.accordion {
    margin-left: 6rem;
    margin-right: 6rem;
}

.end-section {
    padding-top: 3rem;
}

a {
    text-decoration: none;
}

.social {
    padding-bottom: 3rem;
}

.fill {
    color: #FBBF24;
}

/* .empty {
    color: white;
    border: 1px solid;
    border-color: #FBBF24;
} */